	.col-md-12{
		background-color: lightblue;
		border: 1px solid red;
		float: left;
		height: 150px
	}
	.col-md-3{
	    background-color: lightgreen;
		border: 1px solid red;
		float: left;
		height: 150px
	}
	.col-md-6{
		background-color: tomato;
		border: 1px solid red;
		float: left;
		height: 150px
	}
